@page
@model CenimaApp.Pages.Peoples.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Person[0].Fullname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Person[0].Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Person[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Person[0].Password)
            </th>

        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Person) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fullname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>

        </tr>
}
    </tbody>
</table>
